/* Typography */

.text{
    line-height: 1.4rem
}

.text.serif {
    font-family: serif;
}

.text.mono {
    font-family: "Inconsolata", monospace;
}

.text.sans {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text.bold {
    font-weight: bold;
}
.text.bolder {
    font-weight: bolder;
}
.text.boldest {
    font-weight: boldest;
}

.text.small {
    font-size: 1rem;
}

.text.medium {
    font-size: 1.5rem;
}

.text.large {
    font-size: 2rem;
}

/* Colors */

a {
    color: #4990E2;
}

.text.grey {
    color: #707070;
}


/* Spacing */
.m1{
    margin: 1rem;
}

.m1b{
    margin-bottom: 1rem;
}

.m1t{
    margin-top: 1rem;
}

.m1h {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


/* Input */
input.red {
  border-color: red !important;
}
