

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Transitions
- Typography (text)
- Borders
- Colors
- Spacing (margin, padding)
- Grid
- Base Styles
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/*
    Color Ref:
        Text: #464646
        Input Fields and Buttons:
            Selected:#ddd
            Not Selected:#eee
*/


/* Transitions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.text{
    line-height: 1.4rem;
    color: #464646;
}

.text.serif {
    font-family: serif;
}

.text.mono {
    font-family: "Inconsolata", monospace;
}

.text.sans {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text.bold {
    font-weight: bold;
}
.text.bolder {
    font-weight: bolder;
}
.text.boldest {
    font-weight: boldest;
}

.text.s2 {
    font-size: .5rem;
}

.text.s1 {
    font-size: .75rem;
}

.text.s {
    font-size: .85rem;
}

.text.d {
    font-size: 1rem;
}

.text.m {
    font-size: 1.5rem;
}

.text.l {
    font-size: 2rem;
}

.text.left{
    text-align:left;
}
.text.right{
    text-align:right;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: #4990E2;
    text-decoration: none;
}

a:hover{
    color: #2676d1;
    text-decoration: underline;
}

a:visited{
    color: #2676d1;
}

/* Cursor
-------------------------------------------------- */

.cp {
    cursor: pointer;
}

/* Labels
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
    margin: 0 !important;
}
/* Border
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bo {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.br {
    border-radius: 4px;
}

.bor{
    border-right: 1px solid #ddd;
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grey {
    color: #707070;
}

.blue {
    color: #4990E2;
}

.green {
    color: #137d14;
}

.red {
    color: #7d1313;
}

.lightgrey {
    color: #B4B4B4;
}

.hgrey:hover {
    color: #2c2c2c;
}

.hblack:hover {
    color: #464646;
}

.hbggrey:hover {
    background-color: #eee;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Margin */
.m1{
    margin: 1rem;
}

.m1b{
    margin-bottom: 1rem;
}

.m1t{
    margin-top: 1rem;
}

.m1l{
    margin-left: 1rem;
}

.m1r{
    margin-right: 1rem;
}

.m1h {
    margin: 1rem 0;
}

.m2{
    margin: 2rem;
}

.m2b{
    margin-bottom: 2rem;
}

.m2t{
    margin-top: 2rem;
}

.m2l{
    margin-left: 2rem;
}

.m2r{
    margin-right: 2rem;
}

.m2h {
    margin: 2rem 0;
}

/* Padding */

.p1 {
    padding: 1rem;
}

.p1b{
    padding-bottom: 1rem;
}

.p5 {
    padding: 0.5rem;
}
.p25 {
    padding: 0.25rem;
}

/* Display */

.ib {
    display: inline-block;
}

.oh {
    overflow: hidden;
}

.am {
    vertical-align: middle;
}

.ns{
    user-select: none;
}


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-family: "Inconsolata", monospace;
    color: #6f6f6f;
    background-color: #eee;
    height: 2.5rem;
    text-align: center;
    letter-spacing: .1rem;
    white-space: nowrap;
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  background-color: #ddd;
  outline: 0;
}



/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: "Inconsolata", monospace;
  height: 2.5rem;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #eee;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="textarea"]:focus,
textarea:focus,
select:focus {
    background-color: #ddd;
    outline: 0;
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
 }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  border-width: 0;
  border-top: 1px solid #ddd;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
